<section fxLayout="column" fxLayoutAlign="space-between stretch" style="height: 100vh;" #calendar>
    <div  fxLayout="row"  fxLayoutAlign="space-between start">
        <span style="font-size: 20px;">Welcome: {{user.name}}</span>
        <button class="button-2" (click)="onLogOut()" [disabled]="flagLogOut"
        [ngClass]="{'button-disabled': flagLogOut}">Log Out</button>
    </div>
    <div  fxLayout="row" fxLayoutAlign="end center"><span class="letter">Hours: <b>{{timeCount}}</b></span></div>
    <full-calendar [options]='calendarOptions'>
    </full-calendar>
    
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
        <div fxLayout="row" fxLayoutAlign="center center"><div class="box-hour" style="background-color: #ddd;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>&nbsp;&nbsp;Closed shop</div>
        <div fxLayout="row" fxLayoutAlign="center center"><div class="box-hour" style="background-color: #fff; ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>&nbsp;&nbsp;Available time</div>
        <div fxLayout="row" fxLayoutAlign="center center"><div class="box-hour" style="background-color: #464545;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>&nbsp;&nbsp;Not available</div>
        <div fxLayout="row" fxLayoutAlign="center center"><div class="box-hour" style="background-color: #00bfff;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>&nbsp;&nbsp;Your selection</div>
    </div>

    <div fxLayoutAlign="center center">
        <button class="button-2" (click)="onReservation()" [disabled]="flagReservation"
        [ngClass]="{'button-disabled': flagReservation}">Reserve</button>
    </div>
    
</section>

<!-- <pre><button (click)="deleteCalendarInfo()">Delete Info</button></pre> -->