.logo{
    background-color: #008a7e6e;
    border-right: solid 3px #008a7ed9 ;
    padding: 30px;
    border-radius: 8px 0 0 8px;

}

.login{
    background-color: #a8dac159;
    padding: 5% 3%;
    border-radius: 0 8px 8px 0;
}