/* You can add global styles to this file, and also import other style files */
@import '../src/assets/styles/normalize.scss';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

section {
    padding: 3%;
    // background-color: #e5e5e5;
}


.button-2{
  border: none;
  border-radius: 4px;;
  padding: 0 5%;
  height: 2rem;
  background-color: #00bfff;
  color: white;
  box-shadow: 3px 3px rgba(128, 128, 128, 0.568);
  cursor: pointer;
}

.button-log{
    border: none;
    border-radius: 4px;;
    padding: 0 10%;
    height: 3rem;
    background-color: #00bfff;
    color: white;
    box-shadow: 3px 3px rgba(128, 128, 128, 0.568);
    cursor: pointer;
  }
  
  .button-log:focus, .button-2:focus{
    outline: none;
  }

  .button-disabled{
    background-color: grey;
}

.button-2:hover, .button-log:hover{
  box-shadow: 3px 3px grey;
}

.test{
  color: #464545
}